<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<table style="width:65%;height:90%;" align="center">

<tr>
<th colspan="6" style="background-color:#5E1D55;color:white;"><h3>Update Time Sheet</h3></th>
</tr>

<tr style="background-color:#32A9EE;color:white;">
<th>Employee Code</th>
<th>Employee Name</th>
<th>Project Code</th>
<th>Working Hours</th>
<th>Date</th>
<th>Action</th>


</tr>

<tr>
<td><b>1</b></td>
<td>India</td>
<td><input type='text' value=''></td>
<td><input type='text' value=''></td>
<td><input type='text' value=''></td>
<td><input type='text' value=''></td>
</tr>

