<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<table style="width:65%;height:90%;" align="center">

<tr>
<th colspan="6" style="background-color:#5E1D55;color:white;"><h3>Update Time Sheet</h3></th>
</tr>

<tr style="background-color:#32A9EE;color:white;">
<th>Employee Id</th>
<th>Employee Name</th>
<th>Project Id</th>
<th>Working Hours</th>
<th>Ending Date</th>
<th>Action</th>
<th></th>


</tr>

<tr>
<td #id>1</td>
<td #name>India</td>
<td><input #projCode type='text' value=''></td>
<td><input #workingHour type='text' value=''></td>
<td><input #date type='text' value=''></td>
<td><input #action type='text' value=''></td>
<td><button (click)="updateTime()">Update</button></td>
</tr>

