<div id="header">
  <h1><a href="index.html">Online Employee Portal</a></h1>
  <ul id="navigation">
    <li class="current">
      <a href="index.html">Home</a>
    </li>
    
    <li>
      <a href="classes.html">ADD NEW</a>
      <ul>
        <li>
          <a routerLink='/add-employee'> Employee</a>
        </li>
        <li>
          <a href="instructors.html"> Salary</a>
        </li>
        <li>
          <a href="instructors.html">Timesheet</a>
        </li>
        <li>
          <a href="instructors.html">Leave</a>
        </li>
      </ul>
    </li>
     
    <li>
      <a href="classes.html">REPORTS</a>
      <ul>
        <li>
          <a href="instructors.html">Employee </a>
        </li>
        <li>
          <a href="instructors.html"> Salary </a>
        </li>
        <li>
          <a href="instructors.html">Timesheet</a>
        </li>
        <li>
          <a href="instructors.html">Leave </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="contact.html">Contact</a>
    </li>
   
  </ul>
</div>
