<div id="header">
  <h1><a href="index.html">Online Employee Portal</a></h1>
  <ul id="navigation">
    <li class="current">
      <a routerLink="/" routerLinkActive="active">Home</a>
    </li>
    
    <li>
      <a routerLink="" routerLinkActive="active">About Us</a>
     </li>
     
     <li *ngIf="!adminLoggedIn">
      <a routerLink="/adminlogin" routerLinkActive="active">Admin login</a>
    </li>
    
    <li *ngIf="adminLoggedIn">
      <a routerLink="" routerLinkActive="active">REPORTS</a>

      <ul>
          <li>
            <a routerLink="/viewempreport" routerLinkActive="active">Employee report</a>          
        </li>
        <li>
            <a routerLink="/viewempleavereport" routerLinkActive="active">Leave Report</a>
        </li>
        <li>
            <a routerLink="/viewempsalaryreport" routerLinkActive="active">Salary Report</a>
        </li>
        <li>
            <a routerLink="/adminviewtimesheetreport" routerLinkActive="active">Timesheet Report</a>
        </li>

      </ul>
    </li>
    <li *ngIf="adminLoggedIn">
      <a routerLink="/" routerLinkActive="active">ADD NEW</a>

      <ul>
          <li>
            <a routerLink="/addemployee" routerLinkActive="active">Add Employee </a>          
        </li>
        <li>
            <a routerLink="/addleave" routerLinkActive="active">Add Leave</a>
        </li>
        <li>
            <a routerLink="/addsalary" routerLinkActive="active">Add Salary </a>
        </li>
        <li>
            <a routerLink="/addtimesheet" routerLinkActive="active">Add Timesheet </a>
        </li>

      </ul>
    </li>
   

    <!-- Employee -->
    <li *ngIf="!empLoggedIn">
      <a routerLink="/employeelogin"  routerLinkActive="active">Employee login</a>
    </li>
    <li *ngIf="empLoggedIn">
      <a routerLink="" routerLinkActive="active">MY REPORTS</a>

      <ul>       
        <li>
            <a routerLink="/viewempleavereport" routerLinkActive="active">Leave Report</a>
        </li>
        <li>
            <a routerLink="/viewempsalaryreport" routerLinkActive="active">Salary Report</a>
        </li>
        <li>

            <a routerLink="/viewtimesheetreport" routerLinkActive="active">Timesheet Report</a>
        </li>

      </ul>
    </li>

    <li *ngIf="empLoggedIn">
      <a routerLink="" routerLinkActive="active">MY ACCOUNTS</a>
      <ul>       
        <li>
            <a routerLink="/applyleave" routerLinkActive="active">Apply Leave</a>
        </li>
        <li>
            <a routerLink="/updatetimesheet" routerLinkActive="active">Update Timesheet</a>
        </li>
      </ul>
    </li>
    <li>
      <a routerLink="" routerLinkActive="active">Contact</a>

    </li>
   
  </ul>
</div>
