<!-- <form>

  <div class="form-group">
    <label for="exampleFormControlInput11">Select Employee Code</label>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Please Select
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput12">Select Project Code</label>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Please Select
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Work Title</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea13">Work Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea15">Total Walking Hours</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>


</form> -->




<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Name Section -->
<div class="registionform container">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <form class="form-horizontal" role="form">
        <fieldset>

          <!-- Form Name -->
          <legend>Timesheet Entry Form</legend>


          <div class="form-group">
              <div class="col-sm-6">
              <label for="exampleFormControlInput11">Select Employee Code</label><span class="star">*</span>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Please Select
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
              </div>
            </div>
          
            <div class="form-group">
                <div class="col-sm-6">
              <label for="exampleFormControlInput12">Select Project Code</label><span class="star">*</span>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Please Select
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
              </div>
            </div>



          <!-- Text input-->
         
          <div class="form-group">
            <div class="col-sm-6">
              <label for="employeeid">Work Title</label><span class="star">*</span>
              <input type="text" name="employeeid" id="employeeid" placeholder="" class="form-control"/>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <div class="col-sm-6">
              <label for="paydate">Work Description</label><span class="star">*</span>
              <input type="text" name="paydate" id="paydate" class="form-control">
            </div>
          </div>
          
          <div class="form-group">
              <div class="col-sm-6">
                <label for="salary">Total Walking Hours</label><span class="star">*</span>
                <input type="text" name="salary" id="salary" placeholder="" class="form-control">
              </div>
          </div> 

<!-- Command -->
          <div class="form-group" style="margin-top: 30px">
            <div class="col-sm-12">
              <div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div><!-- /.col-lg-12 -->
</div><!-- /.row -->
</div>


<!-- Has Sibling Modal -->






