/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
body {
	background: #3b75c2;
	color: #051a3d;
	font-family: 'latoregular';
	font-size: 14px;
	margin: 0;
	padding: 0;
}
/* @font-face {
	font-family: 'latoregular';
	src: url('../fonts/lato-regular-webfont.eot');
	src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato-regular-webfont.woff') format('woff'),
		url('../fonts/lato-regular-webfont.ttf') format('truetype'),
		url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'nixie_oneregular';
	src: url('../fonts/nixieone-regular-webfont.eot');
	src: url('../fonts/nixieone-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/nixieone-regular-webfont.woff') format('woff'),
		url('../fonts/nixieone-regular-webfont.ttf') format('truetype'),
		url('../fonts/nixieone-regular-webfont.svg#nixie_oneregular') format('svg');
	font-weight: normal;
	font-style: normal;
} */
a {
	outline: none;
}
img {
	border: none;
}
p {
	line-height: 30px;
	margin: 0;
}
p a {
	color: #315f52;
}
p a:hover {
	color: #451374;
}
